@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Caveat:wght@400..700&family=Handlee&family=Indie+Flower&display=swap');

*,
body {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --sp-black: black;
  --sp-white: whitesmoke;
  --p-color: #ffed9f;
  --slak-blauw: #132b52;
  --script-font: "Indie Flower", cursive;
  --title-color: #beff6f;
  --regular-p: "Montserrat", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p,
li {
  color: white;
  font-family: var(--regular-p);
}


main>h1 {
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100vw;
  padding: .6rem;

  color: var(--sp-white);
  background-color: var(--sp-black);
  text-align: center;
  font-weight: 500;
  font-size: .7rem;
  font-family: var(--regular-p);
}

main>h2 {
  position: absolute;
  top: 2rem;
  width: 100vw;
  background: repeating-linear-gradient(45deg,
      black,
      black 20px,
      #dbdb4f 20px,
      #dbdb4f 40px);
  z-index: 99;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: black 0 0 5px;
}

main {
  position: relative;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

main section {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  scroll-snap-align: start;
}

.homepage {
  background: linear-gradient(var(--slak-blauw) 0%,
      var(--sp-black) 100%);
}

.homepage>i {
  display: none;
}

.homepage h2 {
  position: relative;
  z-index: 99;
  color: var(--title-color);
  font-size: 10rem;
  user-select: none;
  font-family: var(--script-font);
  text-shadow: var(--title-color) 0 0 20px;
  animation: fadeIn 1s 2s backwards,
    float 6s ease-in-out infinite;
}

.homepage h1 {
  color: var(--p-color);
  font-family: var(--script-font);
  font-size: 3rem;
  margin-bottom: -2rem;
  user-select: none;
  text-shadow: var(--p-color) 0 0 5px;
  animation: fadeIn 1s .5s backwards;
}

.homepage p {
  font-family: var(--regular-p);
  width: 50%;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 2rem;
  text-align: center;
  margin: -2.5rem 0 2rem 0;
  animation: fadeIn 1s 3s backwards;
}

.homepage a {
  display: flex;
  position: relative;
  align-items: center;
  color: var(--sp-black);
  box-shadow: #beff6f 0 0 20px;
  text-decoration: none;
  font-family: var(--regular-p);
  font-weight: 600;
  gap: .5rem;
  background-color: var(--title-color);
  padding: 1rem 2rem;
  border-radius: 100px;
  transition: .2s ease-in-out;
  animation: fadeIn .5s 3.5s backwards;
  z-index: 2;
}

.homepage a:hover,
.homepage a:focus {
  background-color: #21340a;
  color: var(--sp-white);
  scale: 1.2;
}

.homepage .plant-corner {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  filter: brightness(.5);
}

.homepage .plant-corner .blad {
  position: absolute;
  width: 30%;
  user-select: none;
  animation: tilt-n-move-shaking 10s infinite;
}

.homepage .plant-corner .blad:nth-of-type(1) {
  top: -7em;
  left: -8rem;
  rotate: 120deg;
}

.homepage .plant-corner .blad:nth-of-type(2) {
  top: -7rem;
  right: -8rem;
  rotate: 260deg;
}

.homepage .plant-corner .blad:nth-of-type(3) {
  bottom: -7rem;
  left: -2rem;
  rotate: 40deg;
}

.homepage .plant-corner .blad:nth-of-type(4) {
  bottom: -7rem;
  right: -2rem;
  rotate: -30deg;
}

.rain-background {
  width: 100vw;
  height: 101vh;
  position: absolute;
  top: -9px;
  z-index: 0;
  background-image: url('../IMG/regen.gif');
  opacity: .5;
  background-size: contain;
  mix-blend-mode: soft-light;
}

.homepage div {
  width: 3em;
  position: absolute;
  left: calc(10% + 80% * var(--x) - 1em);
  top: -4em;
  animation: slak calc(5s + 1s * var(--dur)) calc(100s * var(--delay)) infinite ease-in;
}

.homepage div img {
  width: 100%;
}

/* Slakken section */

.dashboard-container {
  background-color: black;
}

.dashboard-container>h1 {
  color: #beff6f;
  text-align: center;
  font-size: 3rem;
  padding-top: .2rem;
  font-family: var(--script-font);
  text-shadow: var(--title-color)0 0 10px;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  width: 100vw;
  height: fit-content;
  padding: 0 2.5rem 2.5rem 2.5rem;
}

.dashboard-item {
  background: linear-gradient(#113e11 0, #265e26 100%);
  background-color: #1c3b1c;
  padding: 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.dashboard-item h1,
h2,
h3 {
  font-family: var(--regular-p);
  color: var(--title-color);
}

/* Specifieke layout voor elk item */
.item-1 {
  grid-column: span 3;
  /* Dit item beslaat 4 kolommen */
  grid-row: span 2;
  /* Dit item beslaat 2 rijen */
  font-family: var(--regular-p);
}

.item-2 {
  grid-column: span 5;
  /* Dit item beslaat 6 kolommen */
  grid-row: span 1;
  padding: 1.2rem;
}

.item-3 {
  grid-column: span 4;
  /* Dit item beslaat 3 kolommen */
  grid-row: span 6;
  /* Dit item beslaat 3 rijen */
}

.item-4 {
  position: relative;
  background: linear-gradient(lightskyblue 0, #265e26 100%);
  grid-column: span 5;
  grid-row: span 5;
  text-align: center;
}

.item-4 p {
  width: 60%;
}

.item-4 i {
  font-size: 3rem;
  padding-bottom: 3rem;
  padding-top: 1rem;
  color: white;
}

.item-4 span {
  font-weight: 800;
}

.item-4 img:nth-of-type(2) {
  position: absolute;
  bottom: -3rem;
  width: 600px;
  z-index: 2;
}

.item-4 .slak-png {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 200px;
}

.item-6 {
  grid-column: span 3;
  grid-row: span 4;
  background-image: url('../IMG/1343307.png');
  background-size: cover;
  background-position: center;

}


.item-1 h1 {
  font-size: 7rem;
  line-height: 4rem;
  color: var(--title-color);
}

.item-1 p {
  animation: fadeIn .5s 1s backwards;
  width: 70%;
  text-align: center;
}

.item-1 h2 {
  font-size: 3rem;
  color: var(--title-color);
}

.slak-icon {
  fill: var(--title-color);
}

.item-1 svg {
  width: 50%;
  margin: 1rem 0;
}


.item-2 h2 {
  font-size: 1.4rem;
}

.item-3 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 3rem;
  text-align: center;
}

.item-3 svg {
  width: 100%;
  margin: auto 0;
}

.item-3 h3 {
  margin: 0 auto 1rem 0;

}

.item-3 ul {
  display: flex;
  padding: 0;
  justify-content: flex-start;
  margin-right: auto;
  gap: 1rem;
}

.item-3 ul li {
  list-style-type: none;
  position: relative;
  display: flex;
  gap: .5rem;
  align-items: center;
  transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.item-3 ul li div {
  left: 0;
  top: 0;
  aspect-ratio: 1/1;
  width: 1rem;
}


.item-3 ul li:nth-of-type(1) div {
  background-color: #b6ffff;
}

.item-3 ul li:nth-of-type(2) div {
  background-color: #e5d861;
}

.item-3 ul li:nth-of-type(3) div {
  background-color: #db7d5d;
}

.cls-2,
.cls-3,
.cls-4 {
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cls-5,
.cls-6 {
  pointer-events: none;
  user-select: none;
}

html:has(.cls-2:hover) .cls-3,
html:has(.cls-2:hover) .cls-4 {
  opacity: .2;
}

html:has(.cls-2:hover) .item-3 ul li:nth-of-type(1),
html:has(.cls-2:hover) .item-3 ul li:nth-of-type(3) {
  opacity: .2;
}

html:has(.cls-3:hover) .cls-2,
html:has(.cls-3:hover) .cls-4 {
  opacity: .2;
}


html:has(.cls-3:hover) .item-3 ul li:nth-of-type(3),
html:has(.cls-3:hover) .item-3 ul li:nth-of-type(2) {
  opacity: .2;
}


html:has(.cls-4:hover) .cls-2,
html:has(.cls-4:hover) .cls-3 {
  opacity: .2;
}

.cls-3 {
  fill: #beff6f;
  animation: leftNL .5s 2s forwards;
}

.cls-2 {
  fill: #beff6f;
  animation: midNL .5s 2.5s forwards;
}

.cls-4 {
  fill: #beff6f;
  animation: rightNL .5s 3s forwards;
}

.dashboard-item,
.question,
.slakkenPopulatieChart,
.counter {
  opacity: 0;
  /* Begin onzichtbaar */
  transition: opacity 0.5s ease;
  /* Zorg voor een vloeiende overgang */
}

.dashboard-item.visible,
.question.visible,
.slakkenPopulatieChart.visible,
.counter.visible {
  opacity: 1;
}

.regenval-container {
  width: 100vw;

}



.mobileText {
  display: none;
}

.regenval-container {
  /* overflow: visible; */
  background: linear-gradient(black 0%, #437eff 100%);
  color: #87cefa4e;
}

.regenval-container .raining {
  width: 100%;
  max-width: 100%;
  padding: 1rem;
}

.regenval-container>h2 {
  margin: 1rem 0;
}

.regenval-container .raining #myrainChart {
  width: 378px;
  height: 504px;
  padding: 1rem;
}

.regenval-container .regenval-text {
  width: 30%;
  position: relative;
  z-index: 99;
  /* max-width: 30%; */
  margin-right: auto;
  margin-left: 3rem;
  margin-top: 2rem;
}

.regenval-container .regenval-text p {
  line-height: 1.3rem;
  font-size: .8rem;
}

.regenval-container .regenval-text h2 {
  text-align: left;
  width: 100%;
  font-family: var(--script-font);
  font-size: 2.5rem;
}

.social-media-container {
  padding: 2rem;
  background: linear-gradient(#437eff 0%, #000 100%);
}

.social-media-container h2 {
  font-family: var(--script-font);
  font-size: 3rem;
  margin: 0;
}

.social-media-container p {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin: 1rem 0 0 0;
}

#photoContainer {
  display: flex;
  overflow-x: scroll;
  margin-top: 20px;
  height: 70vh;
  width: 100%;
  justify-content: center;
  margin: 2rem auto auto auto;
}


.photo {
  aspect-ratio: 1/1;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.photo img {
  width: 100%;
  border-radius: 10px;

}

.chart-container {
  height: 65vh;
  width: 98vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.relational-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1;
  background: linear-gradient(black 20%, #5e8d25 100%);
}

.relational-container .relation-img {
  grid-column: 1;
  grid-row: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.relational-container .relation-img img {
  width: 100%;
  animation: float 5s infinite;
}

.relational-container .relation-img h2 {
  padding: 2rem 2rem 0 2rem;
  text-align: center;
}

.relational-container .relation-about {
  grid-column: 2;
  grid-row: 1;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

.relational-container .relation-about img {
  padding: 1rem 0;
  width: 40%;
}

.relational-container .relation-about p {
  width: 80%;
}

.relational-container .relation-about .areachart {
  width: 90%;
}


/* Map Container  */


.map-container {
  width: 100vw;
  height: 100vh;
  display: block;
  overflow: hidden;
  font-family: var(--regular-p);
}

.map-container #sidebar {
  position: absolute;
  width: 537px;
  background-color: white;
  border: 1px solid whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.22) 10px 10px 30px;
  z-index: 3;
  padding: 1rem;
  border-radius: 0 1rem 1rem 0rem;
  translate: 0 100px;
  transition: transform 0.3s ease;
}



.map-container #sidebar h1 {
  font-size: 1.3rem;
  color: #21340a;
  margin: 1rem 0;
}


.map-container #sidebar.hidden {
  transform: translateX(-100%);
}

.map-container .arrow {
  position: absolute;
  right: -3.8rem;
  top: 4rem;
  padding: 0 1rem;
  border-radius: 0 25% 25% 0;
  border: none;
  background-color: #21340a;
  color: var(--title-color);
  font-size: 2rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  /* Zorg dat de cursor verandert in een handje om aan te geven dat het klikbaar is */
}
.map-container .day:hover {
  background-color: darkgreen; /* Hover-effect */
  color: white;
}

.map-container h3 {
  color: #21340a
}

.map-container #map {
  flex: 2;
  /* Kaart neemt 2 eenheden in */
  height: 100vh;
  border: 1px solid #ddd;
  z-index: 1;
}

.map-container #calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.map-container .day {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}


.map-container .legend {
  margin-top: 20px;
  padding: 0 20px 20px 20px;
  border: 1px solid #ddd;
  background-color: white;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 3;
  transition: 0.3s ease;
}

.map-container .legend button {
  background-color: #21340a;
  color: greenyellow;
  font-size: 1rem;
  padding: 1rem 2rem;
}

.map-container .legend.hide {
  translate: 0 113%;
}

.map-container .legend h2 {
  margin: 1rem 0;
  color: #21340a;

}

.map-container .legend .item {
  margin-bottom: 10px;
}

.map-container .legend .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  text-align: center;
  border-radius: 20%;
}

.map-container .darkblue {
  background-color: darkblue;
}

.map-container .blue {
  background-color: blue;
}

.map-container .box {
  position: relative;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: green;
}

.map-container>a:nth-of-type(1) {
  position: absolute;
  top: 1rem;
  rotate: 180deg;
  z-index: 3;
  left: 50%;
  right: 50%;
  font-size: 3rem;
  color: #21340a;
}

.map-container>a:nth-of-type(2) {
  position: absolute;
  bottom: 1rem;
  z-index: 3;
  left: 50%;
  right: 50%;
  font-size: 3rem;
  color: #21340a;
}


.map-container .lightblue {
  background-color: lightblue;
}

.map-container .slug-icon {
  font-size: 18px;
}

.map-container .info-text {
  margin-top: 10px;
}

.map-container {
  width: 100vw;
}

/* Kalf school map */

.dekalf-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}

.dekalf-container .navbar {
  background-color: #333;
  color: white;
  padding: 15px 20px;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  font-size: .8rem;
  justify-content: space-between;
}

.dekalf-container #zoomControls {
  margin-bottom: 10px;
  position: absolute;
  z-index: 99;
}

.dekalf-container .kaart-container {
  position: relative;
  grid-column: 2;
  padding: 1rem 1rem 0 1rem;
}

.dekalf-container .kalf-legenda {
  width: 13rem;
  min-width: auto;
  padding: 0 1rem 1rem 1rem;
  height: auto;
  min-height: auto;
  background-color: white;
  position: absolute;
  border-radius: .5rem;
  z-index: 1;
  bottom: 2rem;
  left: 3rem;
}

.dekalf-container .kalf-legenda h2 {
  padding: .5rem 0;
  color: #5e8d25;
}

.dekalf-container .kalf-legenda ul li:nth-of-type(1)::marker {
  color: red;
}

.dekalf-container .kalf-legenda ul li:nth-of-type(2)::marker {
  color: rgb(79, 144, 255);
}

.dekalf-container .kalf-legenda ul li:nth-of-type(3)::marker {
  color: rgb(255, 204, 0);
}

.dekalf-container .marker.bevinding {
  background-color: red;
}

.dekalf-container .marker.foto {
  background-color: rgb(79, 144, 255);
}

.dekalf-container .marker.video {
  background-color: rgb(255, 204, 0);
}


.dekalf-container .kalf-legenda ul {
  padding: 0 0 0 1rem;
}
.dekalf-container .kalf-legenda ul li {
  color: #21340a;
}

.dekalf-container #zoomControls button {
  margin: 0 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

.dekalf-container .kalf-container {
  width: 50vw;
  height: 40vw;
  background-size: contain;
  background-position: center;
  position: relative;
  background-image: url('../IMG/schooltuin-de-kalf.png');
  border-radius: 0 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dekalf-container .marker {
  width: 8px;
  aspect-ratio: 1/1;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  animation: popIn .5s backwards;
}

.dekalf-container .popup {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  width: 15%;
  object-fit: cover;
}

.dekalf-container .popup.show {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dekalf-container .popup img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}

.dekalf-container .close {
  cursor: pointer;
  float: right;
  font-size: 24px;
}

.dekalf-container #dayButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.dekalf-container #dayButtons button {
  background-color: greenyellow;
  color: black;
  padding: .5rem 2rem;
}

#popup-description {
  color: #21340a;
}

#popup-title {
  color: #5e8d25;
  font-size: 1rem;
}

.dekalf-container video {
  width: 100%;
}


@keyframes popIn {
  0% {
    scale: 1;
  }

  50% {
    scale: 2;
  }

  100% {
    scale: 1;
  }
}


@media (max-width: 768px) {

  main>h1:first-of-type {
    font-size: 0.5rem;
  }

  .homepage h2 {
    font-size: 4rem;
  }

  .homepage h1 {
    font-size: 2rem;
    margin: 0;
  }

  .homepage p {
    font-size: 1rem;
    width: 80%;
    margin: 0;
  }

  .homepage a {
    display: none;
  }

  .homepage .mobileText {
    display: block;
    padding-top: 2rem;
    animation: fadeIn .5s 4s backwards;
    opacity: 1;
  }

  .homepage>i {
    display: block;
    font-size: 2rem;
    color: var(--title-color);
    padding-top: 1rem;
    animation: fadeIn .5s 4s backwards;
  }

  .dashboard-container {
    min-height: 200vh;
    /* Zorg dat de container minstens de hoogte van het scherm heeft */
    height: auto;
    /* Laat de hoogte automatisch aanpassen */
  }

  .dashboard {
    overflow: inherit;
    display: block;
    padding: 1.5rem;
  }

  .dashboard-item {
    padding: 2rem;
    margin-bottom: 1.5rem;
  }

  .dashboard-item .item-2 {
    height: 200px;
  }

  .dashboard-item h1,
  .dashboard-item h2,
  .dashboard-item h3 {
    font-size: 1.2rem;
  }

  .item-1 h1 {
    font-size: 4rem;
  }

  .item-1 p {
    font-size: 0.9rem;
    width: 80%;
  }

  .item-2 h2 {
    font-size: 1rem;
  }

  .item-3 h3 {
    font-size: 1rem;
  }
}


/* Animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-10px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes tilt-n-move-shaking {

  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }

  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }

  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
}


@keyframes slak {
  to {
    translate: 0 calc(100vh + 2em);
    rotate: 4turn;
  }
}

@keyframes leftNL {
  to {
    fill: #b6ffff;
  }
}

@keyframes midNL {
  to {
    fill: #e5d861;
  }
}

@keyframes rightNL {
  to {
    fill: #db7d5d;
  }
}