@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Caveat:wght@400..700&family=Handlee&family=Indie+Flower&display=swap');

*,
body {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --sp-black: black;
  --sp-white: whitesmoke;
  --p-color: #ffed9f;
  --slak-blauw: #132b52;
  --script-font: "Indie Flower", cursive;
  --title-color: #beff6f;
  --regular-p: "Montserrat", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/********************/
/* Standard Styling */
/********************/

p,
li {
  color: white;
  font-family: var(--regular-p);
}

/**********/
/* Header */
/**********/

header {
  position: absolute;
  top: 0;
  z-index: 99;
}

header h1 {
  background-color: var(--sp-black);
  width: 100vw;
  text-align: center;
  padding: .6rem;
  color: var(--sp-white);
  font-weight: 500;
  font-size: .7rem;
  font-family: var(--regular-p);
}


/********/
/* Main */
/********/

main {
  position: relative;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

/********************/
/* Homepage styling */
/********************/

main section {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  scroll-snap-align: start;
}

.homepage {
  background: linear-gradient(var(--slak-blauw) 0%,
      var(--sp-black) 100%);
}

.homepage h2 {
  position: relative;
  z-index: 99;
  color: var(--title-color);
  font-size: 10rem;
  user-select: none;
  font-family: var(--script-font);
  text-shadow: var(--title-color) 0 0 20px;
  animation: fadeIn 1s 2s backwards,
    float 6s ease-in-out infinite;
}

.homepage h1 {
  color: var(--p-color);
  font-family: var(--script-font);
  font-size: 3rem;
  margin-bottom: -2rem;
  user-select: none;
  text-shadow: var(--p-color) 0 0 5px;
  animation: fadeIn 1s .5s backwards;
}

.homepage p {
  font-family: var(--regular-p);
  width: 50%;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 2rem;
  text-align: center;
  margin: -2.5rem 0 2rem 0;
  animation: fadeIn 1s 3s backwards;
}

.homepage a {
  display: flex;
  position: relative;
  align-items: center;
  color: var(--sp-black);
  box-shadow: #beff6f 0 0 20px;
  text-decoration: none;
  font-family: var(--regular-p);
  font-weight: 600;
  gap: .5rem;
  background-color: var(--title-color);
  padding: 1rem 2rem;
  border-radius: 100px;
  transition: .2s ease-in-out;
  animation: fadeIn .5s 3.5s backwards;
  z-index: 2;
}

.homepage a:hover,
.homepage a:focus {
  background-color: #21340a;
  color: var(--sp-white);
  scale: 1.2;
}

.homepage .plant-corner {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  filter: brightness(.5);
}

.homepage .plant-corner .blad {
  position: absolute;
  width: 30%;
  user-select: none;
  animation: tilt-n-move-shaking 10s infinite;
}

.homepage .plant-corner .blad:nth-of-type(1) {
  top: -7em;
  left: -8rem;
  rotate: 120deg;
}

.homepage .plant-corner .blad:nth-of-type(2) {
  top: -7rem;
  right: -8rem;
  rotate: 260deg;
}

.homepage .plant-corner .blad:nth-of-type(3) {
  bottom: -7rem;
  left: -2rem;
  rotate: 40deg;
}

.homepage .plant-corner .blad:nth-of-type(4) {
  bottom: -7rem;
  right: -2rem;
  rotate: -30deg;
}

.rain-background {
  width: 100vw;
  height: 101vh;
  position: absolute;
  top: -9px;
  z-index: 0;
  background-image: url('../IMG/regen.gif');
  opacity: .5;
  background-size: contain;
  mix-blend-mode: soft-light;
}

.homepage div {
  width: 3em;
  position: absolute;
  left: calc(10% + 80% * var(--x) - 1em);
  top: -4em;
  animation: slak calc(5s + 1s * var(--dur)) calc(100s * var(--delay)) infinite ease-in;
}

.homepage div img {
  width: 100%;
}

/* Slakken section */

.dashboard-container {
  background-color: black;
}

.dashboard-container > h1 {
  color: #beff6f;
  text-align: center;
  font-size: 3rem;
  padding-top: .2rem;
  font-family: var(--script-font);
  text-shadow: var(--title-color)0 0 10px;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  width: 100vw;
  height: fit-content;
  padding: .5rem;
}

.dashboard-item {
  background: linear-gradient( #113e11 0, #265e26 100%);
  background-color: #1c3b1c;
  padding: 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.dashboard-item h1, h2, h3 {
  font-family: var(--regular-p);
  color: var(--title-color);
}

/* Specifieke layout voor elk item */
.item-1 {
  grid-column: span 3; /* Dit item beslaat 4 kolommen */
  grid-row: span 2; /* Dit item beslaat 2 rijen */
  font-family: var(--regular-p);
}

.item-2 {
  grid-column: span 5; /* Dit item beslaat 6 kolommen */
  grid-row: span 1; 
  padding: 1.2rem;
}

.item-3 {
  grid-column: span 4; /* Dit item beslaat 3 kolommen */
  grid-row: span 6; /* Dit item beslaat 3 rijen */
} 

.item-4 {
  position: relative;
  background: linear-gradient( lightskyblue 0, #265e26 100%);
  grid-column: span 5;
  grid-row: span 5;
  text-align: center;
} 

.item-4 p {
  width: 60%;
}

.item-4 i {
  font-size: 3rem;
  padding-bottom: 3rem;
  padding-top: 1rem;
  color: white;
}

.item-4 span {
  font-weight: 800;
}

.item-4 img:nth-of-type(2) {
  position: absolute;
  bottom: -3rem;
  width: 600px;
  z-index: 2;
}

.item-4 .slak-png {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 200px;
}

.item-6 {
  grid-column: span 3;
  grid-row: span 4;
  background-image: url('../IMG/1343307.png');
  background-size: cover;
  background-position: center;

}


.item-1 h1 {
  font-size: 7rem;
  line-height: 4rem;
  color: var(--title-color);
}  

.item-1 p {
  animation: fadeIn .5s 1s backwards;
  width: 70%;
  text-align: center;
}  

.item-1 h2 {
  font-size: 3rem;
  color: var(--title-color);
}  

.slak-icon {
  fill: var(--title-color);
}  

.item-1 svg {
  width: 50%;
  margin: 1rem 0;
}  


.item-2 h2 {
  font-size: 1.4rem;
}

.item-3 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 3rem;
  text-align: center;
}

.item-3 svg  {
  width: 100%;
  margin: auto 0;
}

.item-3 h3 {
  margin: 0 auto 1rem 0 ;

}

.item-3 ul {
  display: flex;
  padding: 0;
  justify-content: flex-start;
  margin-right: auto;
  gap: 1rem;
}

.item-3 ul li {
  list-style-type: none;
  position: relative;
  display: flex;
  gap: .5rem ;
  align-items: center;
  transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.item-3 ul li div {
  left: 0;
  top: 0;
  aspect-ratio: 1/1;
  width: 1rem;
}


.item-3 ul li:nth-of-type(1) div {
  background-color: #b6ffff;
}
.item-3 ul li:nth-of-type(2) div {
  background-color: #e5d861;
}
.item-3 ul li:nth-of-type(3) div {
  background-color: #db7d5d;
}

.cls-2, .cls-3, .cls-4 {
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cls-5, .cls-6 {
  pointer-events: none;
  user-select: none;
}

html:has(.cls-2:hover) .cls-3, html:has(.cls-2:hover) .cls-4 {
  opacity: .2;
}
html:has(.cls-2:hover) .item-3 ul li:nth-of-type(1), 
html:has(.cls-2:hover) .item-3 ul li:nth-of-type(3) {
  opacity: .2;
}

html:has(.cls-3:hover) .cls-2, html:has(.cls-3:hover) .cls-4 {
  opacity: .2;
}


html:has(.cls-3:hover) .item-3 ul li:nth-of-type(3), 
html:has(.cls-3:hover) .item-3 ul li:nth-of-type(2) {
  opacity: .2;
}


html:has(.cls-4:hover) .cls-2, html:has(.cls-4:hover) .cls-3 {
  opacity: .2;
}

.cls-3 {
  fill: #beff6f;
  animation: leftNL .5s 2s forwards;
}

.cls-2 {
  fill: #beff6f;
  animation: midNL .5s 2.5s forwards;
}
.cls-4 {
  fill: #beff6f;
  animation: rightNL .5s 3s forwards;
}

.dashboard-item,
.question,
.slakkenPopulatieChart,
.counter {
  opacity: 0; /* Begin onzichtbaar */
  transition: opacity 0.5s ease; /* Zorg voor een vloeiende overgang */
}

.dashboard-item.visible,
.question.visible,
.slakkenPopulatieChart.visible,
.counter.visible {
  opacity: 1; /* Word zichtbaar als de klasse wordt toegevoegd */
}

.regenval-container {
  width: 100vw;
  /* height: fit-content; */
}

.raining {
  width: 50vw;
  height: 30vw;
}

/* Animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-10px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes tilt-n-move-shaking {

  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }

  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }

  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
}


@keyframes slak {
  to {
    translate: 0 calc(100vh + 2em);
    rotate: 4turn;
  }
}

@keyframes leftNL {
  to {
    fill: #b6ffff;
  }
}
@keyframes midNL {
  to {
    fill: #e5d861;
  }
}
@keyframes rightNL {
  to {
    fill: #db7d5d;
  }
}