

@keyframes popIn {
  0% {
    scale: 1;
  }

  50% {
    scale: 2;
  }

  100% {
    scale: 1;
  }
}


@media (max-width: 768px) {

  main>h1:first-of-type {
    font-size: 0.5rem;
  }

  .homepage h2 {
    font-size: 4rem;
  }

  .homepage h1 {
    font-size: 2rem;
    margin: 0;
  }

  .homepage p {
    font-size: 1rem;
    width: 80%;
    margin: 0;
  }

  .homepage a {
    display: none;
  }

  .homepage .mobileText {
    display: block;
    padding-top: 2rem;
    animation: fadeIn .5s 4s backwards;
    opacity: 1;
  }

  .homepage>i {
    display: block;
    font-size: 2rem;
    color: var(--title-color);
    padding-top: 1rem;
    animation: fadeIn .5s .5s backwards;
  }

  .dashboard-container {
    min-height: 200vh;
    height: auto;
  }

  .dashboard {
    overflow: inherit;
    display: block;
    padding: 1.5rem;
  }

  .dashboard-item {
    padding: 2rem;
    margin-bottom: 1.5rem;
  }

  .dashboard-item .item-2 {
    height: 200px;
  }

  .dashboard-item h1,
  .dashboard-item h2,
  .dashboard-item h3 {
    font-size: 1.2rem;
  }

  .item-1 h1 {
    font-size: 4rem;
  }

  .item-1 p {
    font-size: 0.9rem;
    width: 80%;
  }

  .item-2 h2 {
    font-size: 1rem;
  }

  .item-3 h3 {
    font-size: 1rem;
  }
}


/* Animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes tilt-n-move-shaking {

  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }

  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }

  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
}


@keyframes slak {
  to {
    translate: 0 calc(100vh + 2em);
    rotate: 4turn;
  }
}

@keyframes leftNL {
  to {
    fill: #b6ffff;
  }
}

@keyframes midNL {
  to {
    fill: #e5d861;
  }
}

@keyframes rightNL {
  to {
    fill: #db7d5d;
  }
}