.homepage {
  background: linear-gradient(var(--slak-blauw) 0%, var(--sp-black) 100%);
}

.homepage > i {
  display: none;
}

.homepage h2 {
  position: relative;
  z-index: 99;
  line-height: normal;
  color: var(--title-color);
  font-size: 10rem;
  user-select: none;
  text-shadow: var(--title-color) 0 0 20px;
  animation: fadeIn 1s 2s backwards, float 6s ease-in-out infinite;
}

.homepage h1 {
  color: var(--p-color);
  font-size: 3rem;
  margin-bottom: -2rem;
  user-select: none;
  text-shadow: var(--p-color) 0 0 5px;
  animation: fadeIn 1s 0.5s backwards;
}

.homepage p {
  font-family: var(--regular-p);
  width: 50%;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 2rem;
  text-align: center;
  margin: -2.5rem 0 2rem 0;
  animation: fadeIn 1s 3s backwards;
}

.homepage button {
  display: flex;
  position: relative;
  align-items: center;
  color: var(--sp-black);
  box-shadow: #beff6f 0 0 20px;
  text-decoration: none;
  font-family: var(--regular-p);
  font-weight: 600;
  gap: 0.5rem;
  background-color: var(--title-color);
  padding: 1rem 2rem;
  border-radius: 100px;
  transition: 0.2s ease-in-out;
  animation: fadeIn 0.5s 3.5s backwards;
  z-index: 2;
}

.homepage a:hover,
.homepage a:focus {
  background-color: var(--dashboard-bg);
  color: var(--sp-white);
  scale: 1.2;
}

.plantCorner {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  filter: brightness(0.5);
}

.plantCorner .blad {
  position: absolute;
  width: 30%;
  user-select: none;
  animation: tilt-n-move-shaking 10s infinite;
}

.plantCorner .blad:nth-of-type(1) {
  top: -7em;
  left: -8rem;
  rotate: 120deg;
}

.plantCorner .blad:nth-of-type(2) {
  top: -7rem;
  right: -8rem;
  rotate: 260deg;
}

.plantCorner .blad:nth-of-type(3) {
  bottom: -7rem;
  left: -2rem;
  rotate: 40deg;
}

.plantCorner .blad:nth-of-type(4) {
  bottom: -7rem;
  right: -2rem;
  rotate: -30deg;
}

.rainBackground {
  width: 100vw;
  height: 101vh;
  position: absolute;
  top: -9px;
  z-index: 0;
  /* background-image: url('/IMG/regen.gif'); */
  opacity: 0.5;
  background-size: contain;
  mix-blend-mode: soft-light;
}

.homepage div {
  width: 3em;
  position: absolute;
  left: calc(10% + 80% * var(--x) - 1em);
  top: -4em;
  animation: slak calc(5s + 1s * var(--dur)) calc(100s * var(--delay)) infinite ease-in;
}

.homepage div img {
  width: 100%;
}
