.dashboard-container {
  background-color: var(--sp-black);
}

.dashboard-container>h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: .2rem;
  text-shadow: var(--title-color)0 0 10px;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  width: 100vw;
  height: fit-content;
  padding: 0 2.5rem 2.5rem 2.5rem;
}

.dashboard-item {
  background: linear-gradient(var(--dashboard-bg) 0, var(--dark-green) 100%);
  background-color: var(--dashboard-bg);
  padding: 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  line-height: normal;
}

.item-1 h1 {
  font-size: 7rem;
  line-height: 4rem;
  color: var(--title-color);
  text-shadow: var(--title-color) 0 0 10px;
}

.item-1 p {
  animation: fadeIn .5s 1s backwards;
  width: 70%;
  text-align: center;
}

.item-1 h2 {
  font-size: 3rem;
  color: var(--title-color);
  line-height: normal;
}

.dashboard-item h1,
.dashboard-item h3 {
  font-family: var(--regular-p);
  color: var(--title-color);
}

.item-1 {
  grid-column: span 3;
  grid-row: span 2;
  font-family: var(--regular-p);
}

.item-1 svg {
  width: 50%;
  margin: 1rem 0;
}

.item-2 {
  grid-column: span 5;
  grid-row: span 1;
  padding: 1.2rem;
}

.item-2 h2 {
  font-size: 1.4rem;
}

.item-3 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 3rem;
  text-align: center;
}

.item-3 svg {
  width: 100%;
  margin: auto 0;
}

.item-3 h3 {
  margin: 0 auto 1rem 0;

}

.item-3 ul {
  display: flex;
  padding: 0;
  justify-content: flex-start;
  margin-right: auto;
  gap: 1rem;
}

.item-3 ul li {
  list-style-type: none;
  position: relative;
  display: flex;
  gap: .5rem;
  align-items: center;
  transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.item-3 ul li div {
  left: 0;
  top: 0;
  aspect-ratio: 1/1;
  width: 1rem;
}

.item-3 ul li:nth-of-type(1) div {
  background-color: var(--waterslak);
}

.item-3 ul li:nth-of-type(2) div {
  background-color: var(--landslak);
}

.item-3 ul li:nth-of-type(3) div {
  background-color: var(--adem-slak);
}


.item-3 {
  grid-column: span 4;
  grid-row: span 6;
}

.item-4 {
  position: relative;
  background: linear-gradient(rgb(34, 137, 201) 0, var(--dark-green) 100%);
  grid-column: span 5;
  grid-row: span 5;
  text-align: center;
}

.item-4 p {
  width: 60%;
}

.item-4 i {
  font-size: 3rem;
  padding-bottom: 3rem;
  padding-top: 1rem;
  color: white;
}

.item-4 span {
  font-weight: 800;
}

.item-4 img:nth-of-type(2) {
  position: absolute;
  bottom: -3rem;
  width: 600px;
  z-index: 2;
}

.item-4 .slak-png {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 200px;
}

/* .item-6 {
  grid-column: span 3;
  grid-row: span 4;
  background-image: url('/IMG/1343307.png');
  background-size: cover;
  background-position: center;

} */

.slak-icon {
  fill: var(--title-color);
}

.cls-1 {
  fill: #beff6f;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4 {
  stroke-width: 0px;
}

.cls-5 {
  stroke-miterlimit: 10;
}

.cls-5,
.cls-6 {
  fill: none;
  stroke: #265e26;
  stroke-width: 3px;
}


.cls-2,
.cls-3,
.cls-4 {
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cls-5,
.cls-6 {
  pointer-events: none;
  user-select: none;
}

html:has(.cls-2:hover) .cls-3,
html:has(.cls-2:hover) .cls-4 {
  opacity: .2;
}

html:has(.cls-2:hover) .item-3 ul li:nth-of-type(1),
html:has(.cls-2:hover) .item-3 ul li:nth-of-type(3) {
  opacity: .2;
}

html:has(.cls-3:hover) .cls-2,
html:has(.cls-3:hover) .cls-4 {
  opacity: .2;
}


html:has(.cls-3:hover) .item-3 ul li:nth-of-type(3),
html:has(.cls-3:hover) .item-3 ul li:nth-of-type(2) {
  opacity: .2;
}


html:has(.cls-4:hover) .cls-2,
html:has(.cls-4:hover) .cls-3 {
  opacity: .2;
}

.cls-3 {
  fill: var(--title-color);
  animation: leftNL .5s 2s forwards;
}

.cls-2 {
  fill: var(--title-color);
  animation: midNL .5s 2.5s forwards;
}

.cls-4 {
  fill: var(--title-color);
  animation: rightNL .5s 3s forwards;
}