
.conclusie-container {
  display: none;
  background: linear-gradient(var(--sp-black) 0%, var(--sp-blauw) 100%);
}

.conclusie-container.show {
  display: flex;
}


.conclusie-container>article {
  width: 50%;
}

.conclusie-container article article {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

.conclusie-container article h2 {
  font-size: 3rem;
  user-select: none;
}

.conclusie-container audio::-webkit-media-controls-panel {
  background-color: var(--title-color);
}

.conclusie-container article p {
  margin: 2rem 0;
}


/* Fabel Container */

.fabel-container {
  display: none;
  background: linear-gradient(var(--sp-black) 0, var(--fabel-color) 100%);
}

.fabel-container.show {
  display: flex;
}

.fabel-container article audio {
  margin: 1rem 0;
}

.fabel-container audio::-webkit-media-controls-panel {
  background-color: var(--fabel-color);
}

.fabel-container article h2 {
  font-size: 3rem;
  user-select: none;
  color: var(--fabel-color);
  text-shadow: var(--fabel-color) 0 0 10px;
  margin: 1.5rem 0;
}

.fabel-container>article {
  width: 50%;
}

