
.dekalf-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;

  background-image: linear-gradient(var(--dark-green) 0, var(--sp-black) 100%);
}

.kaart-container #popup-content {
  color: black;
}

.dekalf-container .navbar {
  background-color: var(--sp-black);
  margin-right: auto;
  padding: 15px 20px;
  width: 94%;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  font-size: .8rem;
  justify-content: space-between;
}

.dekalf-container #zoomControls {
  margin-bottom: 10px;
  position: absolute;
  z-index: 99;
}

.dekalf-container .kaart-container {
  position: relative;
  grid-column: 2;
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: .5s ease-in;
}

.kaart-container.visible {
  opacity: 1;
  pointer-events: all;
}

.dekalf-container .kalf-legenda {
  width: 13rem;
  min-width: auto;
  padding: 0 1rem 1rem 1rem;
  height: auto;
  min-height: auto;
  background-color: white;
  position: absolute;
  border-radius: .5rem;
  z-index: 1;
  bottom: 4rem;
  left: 4rem;
}

.dekalf-container .kalf-legenda h2 {
  padding: .5rem 0;
  color: #5e8d25;
  font-size: 1.2rem;
  text-shadow: none;
}

.dekalf-container.visible {
  opacity: 1;
}

.dekalf-container .kalf-legenda ul li:nth-of-type(1)::marker {
  color: red;
}

.dekalf-container .kalf-legenda ul li:nth-of-type(2)::marker {
  color: rgb(79, 144, 255);
}

.dekalf-container .kalf-legenda ul li:nth-of-type(3)::marker {
  color: rgb(255, 204, 0);
}

.dekalf-container .marker.bevinding {
  background-color: red;
}

.dekalf-container .marker.foto {
  background-color: rgb(79, 144, 255);
}

.dekalf-container .marker.video {
  background-color: rgb(255, 204, 0);
}


.dekalf-container .kalf-legenda ul {
  padding: 0 0 0 1rem;
}

.dekalf-container .kalf-legenda ul li {
  color: #21340a;
  font-size: .8rem;
}

.dekalf-container .marker {
  width: 8px;
  aspect-ratio: 1/1;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  animation: popIn .5s backwards;
}

.dekalf-container .popup {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 15%;
}

.dekalf-container .popup.show {
  opacity: 1;
  transform: translateY(0);
}


.dekalf-container .popup img {
  max-width: 100%;
  height: auto;
}

.dekalf-container .close {
  cursor: pointer;
  float: right;
  color: black;
  font-size: 24px;
}

#popup-content p {
  color: black;
}

.dekalf-container #dayButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
  align-items: center;
  justify-content: flex-start;
}

.dekalf-container #dayButtons button {
  color: #21340a;
  background-color: var(--title-color);
  box-shadow: var(--title-color) 0 0 5px;
  padding: .5rem 1rem;
  font-size: var(--regular-p);
  border-radius: .5rem;
  border: none;
  transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.dekalf-container #dayButtons button.activeBtn {
  background-color: darkgreen;
  color: white;
}

#popup-description {
  color: #21340a;
}

#popup-image p {
  color: black;
}

#popup-title {
  color: #5e8d25;
  font-size: 1rem;
}

.dekalf-container video {
  width: 100%;
}

.about-kalf {
  grid-column: 1;
  flex-direction: column;
  display: flex;
  padding: 2rem;
  justify-content: flex-start;
  height: 100%;
}

.about-kalf p {
  margin: 1rem 0;
}

.about-kalf iframe {
  margin: 1rem 0;
  border-radius: 1rem;
}

.about-kalf button {
  width: fit-content;
  padding: 1rem 2rem;
  background-color: var(--title-color);
  color: #1c3b1c;
  font-size: 1rem;
  border-radius: 2rem;
  border: none;
  box-shadow: var(--title-color) 0 0 10px;
}
