
.regenval-container {
  width: 100vw;
  background: linear-gradient(var(--sp-black) 0%, var(--sp-blauw) 100%);
}

.regenval-container .raining {
  width: 100%;
  max-width: 100%;
  padding: 1rem;
}

.regenval-container>h2 {
  margin: 1rem 0;
}

.regenval-container .raining #myrainChart {
  width: 378px;
  height: 504px;
  padding: 1rem;
}

.regenval-container .regenval-text {
  width: 30%;
  position: relative;
  z-index: 99;
  margin-right: auto;
  margin-left: 3rem;
  margin-top: 2rem;
}

.regenval-container .regenval-text p {
  line-height: 1.3rem;
  font-size: .8rem;
}

.regenval-container .regenval-text h2 {
  text-align: left;
  width: 100%;
}